<div class="mainPanel synonym">
	<div class="section">
		<div class="full">
			<div class="topsection-2 row">
				<div class="sectiontitle nine columns">
					<div class="row">
						Customize your search relevance function
					</div>
					<div class="row">
						<div class="sectiondetails">Your search relevance function determines the order of your search results.</div>
					</div>
				</div>
				
				<div class="createsynonym three columns">
				</div>
			</div>
			<div class="bottomsection-2">
				<div class="content-search-relevation">
					<!--  Content -->
						<div class="three columns sidebar-search-relevation">
						<!-- Content Sidebar -->
							<!-- Slider 1 -->
							<div class="row">
								<span class="name-content">FIELD</span>
								<form action="" oninput="result.value=parseInt(points.value)">
									<div class="row">
										<select class="select" name="">
											<option value="">Default</option>
										</select>	
									</div>

									<div class="row slider-range">
										<span class="impact">IMPACT</span>
										<input type="range" class="range" name="points" min="0" max="10">
										<output name="result" for="points">
											<span class="result-points"></span>
										</output>
									</div>
								</form>
							</div>

							<!-- Slider 2 -->
							<div class="row">
								<span class="name-content">FIELD</span>
								<form action="" oninput="result.value=parseInt(points.value)">
									<div class="row">
										<select class="select" name="">
											<option value="">Default</option>
										</select>	
									</div>

									<div class="row slider-range">
										<span class="impact">IMPACT</span>
										<input type="range" class="range" name="points" min="0" max="10">
										<output name="result" for="points">
											<span class="result-points"></span>
										</output>
									</div>
								</form>
							</div>

							<!-- Slider 3 -->
							<div class="row">
								<span class="name-content">FIELD</span>
								<form action="" oninput="result.value=parseInt(points.value)">
									<div class="row">
										<select class="select" name="">
											<option value="">Default</option>
										</select>	
									</div>

									<div class="row slider-range">
										<span class="impact">IMPACT</span>
										<input type="range" class="range" name="points" min="0" max="10">
										<output name="result" for="points">
											<span class="result-points"></span>
										</output>
									</div>
								</form>
							</div>

							<!-- Button -->
							<div class="row">
								<button type="submit" class="goldbutton">+ Add New</button> -
								<button type="submit" class="goldbutton">Save</button>
							</div>

							<!-- /Content Sidebar -->
						</div>
						<div class="nine columns right-search-relevation">
						<!-- Right Content -->
							<div class="container">
								<div class="row search">
									<input type="text" placeholder="Search your engine" size="50"></input>
									<button type="submit" class="brownbutton">Search</button> 
								</div>

								<div class="row description">
									<p>Lorem ipsum Aliqua nisi mollit nulla non in deserunt dolore tempor sed fugiat sed consectetur mollit eu id labore in laborum incididunt in ea ut.</p>
									<p>
										Lorem ipsum Laborum ea nulla nostrud ut amet officia in sit proident et ullamco incididunt laborum ut id quis deserunt nisi cupidatat ex amet velit id in ullamco ex dolore nostrud tempor dolore qui fugiat id ullamco in enim dolor.
									</p>
								</div>

							</div>
						<!-- /Right Content -->
						</div>
					<!--  /Content -->
				</div>
			</div>
		</div>
	</div>
		
</div>