<div class="mainPanel synonym">
	<div class="section">
		<div class="full">
			<div class="topsection">
				<div class="row">
					<div class="nine columns">
						<div class="sectiontitle">Manage your synonym set</div>
						<div class="sectiondetails">Synonym sets are groups of terms that will be treated as equivalent for the purposes of search.</div>
					</div>
					<div class="three columns">
						<button class="brownbutton ">create a synonym set</button>
					</div>
				</div>
			</div>
			<div class="bottomsection">
					<div class="containertable">
						<table class="tablelist">
							<thead>
								<tr>
									<td width="70%" class="first-column">synonym set</td>
									<td width="10%" class="second-column"></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>synonym 1</td>
									<td><button type="">Edit</button></td>
								</tr>
								<tr>
									<td>synonym 2</td>
									<td><button type="">Edit</button></td>
								</tr>
								<tr>
									<td>synonym 3</td>
									<td><button type="">Edit</button></td>
								</tr>
								<tr>
									<td>synonym 4</td>
									<td><button type="">Edit</button></td>
								</tr>
							</tbody>
						</table>
						<script type="text/javascript">
							$(document).ready(function() {
							    $('.tablelist').DataTable( {
							        "paging":   false,
							        "ordering": true,
							        "searching":true,
							        "info":     true
							    } );
							} );
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>