<div class="mainPanel synonym">
	<div class="section">
		<div class="full">
			<div class="topsection row">
				<div class="sectiontitle nine columns">
					<div class="row">
						Manage search result rankings
					</div>
					<div class="row">
						<div class="sectiondetails">Search your engine using search box below then re-order the results to your liking</div>
					</div>
				</div>
				
				<div class="createsynonym three columns">
				</div>
			</div>

			<div class="row">
				<div class="nine columns">
					<div class="bottomsection">
						<div class="containertable">
							<div class="row">
								<!--
								 <div id="graph-page" class="eight columns" style="padding-bottom: 20px;"></div>
								 -->
							</div>
							<div class="row">
								<div class="sectiontitle eight columns">
									<div class="row">
										<input type="text" id="filter-content" placeholder="search">
									</div>
								</div>
								<div class="four columns">
									<button id="" class="brownbutton">Save</button> 
									<button id="" class="brownbutton">Add Result</button>
									<button id="" class="brownbutton"><i class="fa fa-cog" aria-hidden="true"></i></button>
									<button id="" class="brownbutton"><i class="fa fa-eye" aria-hidden="true"></i></button>
									<button id="" class="brownbutton"><i class="fa fa-line-chart" aria-hidden="true"></i></button>
								</div>
							</div>
							<div class="row">
								<canvas id="charts-ranking">tes</canvas>
							</div>
						<!--  Content -->
							<div id="content">
								<div class="row search-customize-content sortable">
									<div class="twelve columns">
										<div class="white-box" style="position:relative">
											<div class="row">
												<div class="eight columns">
													<span class="row title">Lorem ipsum dolor sit amet, consectetur adipisicing elit
													</span>
													<span class="row description">Row 1</span>
												</div>
												<div class="two columns icon-pin" style="">
													<span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
												</div>
												<div class="two columns" align="center">
													4 <br>
													<span> Clicks</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row search-customize-content sortable">
									<div class="twelve columns">
										<div class="white-box" style="position:relative">
											<div class="row">
												<div class="eight columns">
													<span class="row title">Lorem ipsum dolor sit amet, consectetur adipisicing elit
													</span>
													<span class="row description">Row 2</span>
												</div>
												<div class="two columns icon-pin" style="">
													<span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
												</div>
												<div class="two columns" align="center">
													4 <br>
													<span> Clicks</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row search-customize-content sortable">
									<div class="twelve columns">
										<div class="white-box" style="position:relative">
											<div class="row">
												<div class="eight columns">
													<span class="row title">Lorem ipsum dolor sit amet, consectetur adipisicing elit
													</span>
													<span class="row description">Row 3</span>
												</div>
												<div class="two columns icon-pin" style="">
													<span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
												</div>
												<div class="two columns" align="center">
													4 <br>
													<span> Clicks</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						<!--  /Content -->

						<!-- Script Drag and Drop	 -->
						<script>
						  $(function() {
						    $("#content").sortable({placeholder: "ui-state-highlight",helper:'clone'});
						  });
					 	</script>
					 	<!-- /Script Drag and Drop -->
						</div>
					</div>
				</div>
				<div class="three columns">
					<div class="sidebar">
						<div class="sidebar-container">
							<div class="sidebar-title"> Manage Search Result Rankings</div>
							<div class="sidebar-content">
								<p>Search your website to see the results for a specific search query</p>
							</div>
							<hr>
							<div class="sidebar-content">
								<p>Drag and drop to re-order search results. Re-ordered search results are pinned</p>
							</div>
							<hr>
							<div class="sidebar-content">
								<p>Unpin a re-ordered search result to return it to its original location</p>
							</div>
							<hr>
							<div class="sidebar-content">
								<p>Remove a search result to hide it for a specific search query</p>
							</div>
							<hr>
							<div class="sidebar-content">
								<p>Add a custom search result if it does not appear for a specific search query</p>
							</div>
							<hr>
						</div>
					</div>		
				</div>
			</div>
	</div>		
</div>

<script>
	$(function(){
	$("#charts-ranking").hide()
	
	$(".search-customize-content").click(function(){
		$("#charts-ranking").toggle(500)
	});

	var lineGraph = $("#charts-ranking");
	var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        	{
	            label: "My First dataset",
	            fill: false,
	            lineTension: 0.1,
	            backgroundColor: "rgba(75,192,192,0.4)",
	            borderColor: "rgba(75,192,192,1)",
	            borderCapStyle: 'butt',
	            borderDash: [],
	            borderDashOffset: 0.0,
	            borderJoinStyle: 'miter',
	            pointBorderColor: "rgba(75,192,192,1)",
	            pointBackgroundColor: "#fff",
	            pointBorderWidth: 1,
	            pointHoverRadius: 5,
	            pointHoverBackgroundColor: "rgba(75,192,192,1)",
	            pointHoverBorderColor: "rgba(220,220,220,1)",
	            pointHoverBorderWidth: 2,
	            pointRadius: 1,
	            pointHitRadius: 10,
	            data: [65, 59, 80, 81, 56, 55, 40],
        	}
    	]
	};
	var myLineChart = Chart.Line(lineGraph, {
	    data: data,
	});
});
</script>
<script type="text/javascript">
	$(document).ready(function(){
    $("#filter-content").keyup(function(){
 
        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val(), count = 0;
 
        // Loop through the comment list
        $(".white-box").each(function(){
 
            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).fadeOut();
 
            // Show the list item if the phrase matches and increase the count by 1
            } else {
                $(this).show();
                count++;
            }
        });
    });
});
</script>
