<div class="mainPanel synonym" align="center">
	<div class="section">
		<div class="full">
			<div class="topsection-2">
				<h1> SPARSE SEARCH</h1>
			</div>
			<div class="bottomsection-2">
				<p> This project is under development. </p>
			</div>
		</div>
	</div>	
</div>