<div class="topmenu">
	<div class="topsection">
		<a href="#">
			<div class="toplogo search">
				<div class="sparseLogo"></div><div class="enginetitle"> &#8226; search</div>
			</div>
		</a>
		<div class="menu1">
			<ul>
				<a href="#"><li>engine</li></a>
				<a href="#"><li>docs</li></a>
				<a href="#"><li>support</li></a>
			</ul>
			<ul>
				<a href="#"><li>account</li></a>
				<a href="#"><li>logout</li></a>
			</ul>
		</div>
	</div>
	<div class="bottomsection">
		<div class="menu2">
			<a href="/"><div class="menulist overview"><div class="icons"></div>overview</div></a>
			<a href="#"><div class="menulist analytics"><div class="icons"></div>analytics</div></a>
			<div class="menulist customize"><div class="icons"></div>customize
				<ul>
					<a href="ranking"><li>ranking</li></a>
					<a href="weighting"><li>weight</li></a>
					<a href="synonyms"><li>synonyms</li></a>
				</ul>
			</div>
			<div class="menulist manage"><div class="icons"></div>manage
				<ul>
					<a href="#"><li>content</li></a>
					<a href="#"><li>domain</li></a>
					<a href="#"><li>collaborator</li></a>
				</ul>
			</div>
			<div class="menulist integrate"><div class="icons"></div>integrate
				<ul>
					<a href="#"><li>install</li></a>
					<a href="#"><li>engagement module</li></a>
					<a href="#"><li>live review</li></a>
				</ul>
			</div>
		</div>
	</div>
</div>